* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: IRANSans;
  src: url(../font/woff/IRANSansX-Regular.woff);
}
body {
  font-family: IRANSans;
}

/* start menu */
div.menu {
  width: 100%;
  height: 100px;
  padding: 0px 80px;
  background-color: #252525;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  top: 0;
  z-index: 999;
}

div.menu > div.logo {
  width: 170px;
  height: 105px;
  background: url(../media/logo/logo-fr.png) center center/cover;
  position: absolute;
  top: 40px;
  right: 150px;
}

div.menu > nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

div.menu > nav > ul {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: end;
  margin-bottom: 20px;
}

div.menu > nav > ul > li {
  width: fit-content;
  border-right: 1px solid #888b8a;
  padding: 16px 20px 16px 0px;
  line-height: 10px;
}

div.menu > nav > ul > li:nth-child(1) {
  border-right: 0px solid black;
}

div.menu > nav > ul > li > a {
  text-decoration: none;
  color: #888b8a;
  font-size: 16px;
  font-family: IRANSans;
  transition: all 100ms linear;
}

div.menu > nav > ul > li > a:hover {
  color: white;
  font-weight: 500;
}
/* end menu */

/* start head */
div.head {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-color: lightgrey;
  display: flex;
}

div.head > div {
  width: 70%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

div.head > div > div:nth-child(2) {
  padding-top: 50px;
  padding-right: 120px;
  width: 45%;
  height: 100%;
}

div.head > div > div:nth-child(1) {
  width: 45%;
  height: 100%;
  padding-top: 100px;
}

div.head > div > div:nth-child(1) > h2 {
  color: #ff0000;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
}

div.head > div > div:nth-child(1) > h3 {
  color: #888b8a;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

div.head > div > div:nth-child(1) > p {
  color: #888b8a;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px;
  line-height: 1.7em;
}

div.head > div > div:nth-child(1) > a {
  color: #888b8a;
  background-color: white;
  border: 1px solid 888B8A;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
  margin: 16px 0px;
}

div.head > div > div:nth-child(1) > a:hover {
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
/* end head */

/* start text */
div.text {
  width: 100%;
  padding: 64px;
  margin-top: 16px;
  border-top: 1px solid #888b8a;
}

div.text > div:nth-child(1) {
  width: 62%;
  margin: 0 auto;
}

div.text > div:nth-child(1) > h2:nth-of-type(1) {
  font-size: 22px;
  color: #ff0000;
  line-height: 60px;
}

div.text > div:nth-child(1) > p:nth-of-type(1) {
  font-size: 16px;
  text-align: justify;
  color: #888b8a;
  line-height: 2.2em;
  padding-bottom: 32px;
}

div.text > div:nth-child(1) > p:nth-of-type(2) {
  text-align: justify;
  font-size: 16px;
  color: #888b8a;
  line-height: 2.2em;
  padding-bottom: 48px;
}

div.text > div:nth-child(1) > h2:nth-of-type(2) {
  font-size: 22px;
  color: #ff0000;
  line-height: 60px;
}

div.text > div:nth-child(1) > p:nth-of-type(3) {
  text-align: justify;
  font-size: 16px;
  color: #888b8a;
  line-height: 2.2em;
  padding-bottom: 48px;
}

div.text > div:nth-child(1) > p > span {
  font-size: 16px;
  color: #ff0000;
  line-height: 2.2em;
  padding-bottom: 48px;
  font-weight: 300;
}

div.text > div:nth-child(2) {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
}

div.text > div:nth-child(2) > div {
  text-align: center;
  border-bottom: 1px solid #afb2a7;
}

div.text > div:nth-child(2) > div > p {
  line-height: 36px;
  padding-bottom: 8px;
  color: #888b8a;
}
/* end text */

/* start poster */
div.poster {
  width: 100%;
  padding-top: 24px;
  margin: 0;
  border-top: 1px solid #afb2a7;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.poster > div:nth-of-type(1) {
  width: 100%;
  height: 16px;
  background-color: #e9d69f;
  margin: 0;
}

div.poster > div:nth-of-type(2) {
  width: 350px;
  background-color: #ed1c24;
  position: absolute;
  bottom: 0;
  right: 330px;
  padding: 12px;
}

div.poster > div:nth-of-type(2) > h2 {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

div.poster > div:nth-of-type(2) > h4 {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
}
/* end poster */

/* start text1 */
div.text1 {
  width: 100%;
  padding: 48px;
  margin-top: 16px;
  border-top: 1px solid #bababa;
}

div.text1 > div > h2 {
  font-size: 22px;
  color: #ff0000;
  line-height: 60px;
}

div.text1 > div > p {
  text-align: justify;
  font-size: 16px;
  color: #58595b;
  line-height: 2.2em;
  padding-bottom: 48px;
}

div.text1 > div {
  width: 62%;
  margin: 0 auto;
}

div.text1 > div > a {
  color: #888b8a;
  background-color: white;
  border: 1px solid #888b8a;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
  margin: 0 4px;
}

div.text1 > div > a:hover {
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
/* end text1 */

/* start poster2 */
div.poster2 {
  width: 100%;
  padding-top: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.poster2 > div:nth-of-type(1) {
  width: 100%;
  height: 16px;
  background-color: #e9d69f;
  margin: 0;
}

div.poster2 > div:nth-of-type(2) {
  width: 350px;
  background-color: #ed1c24;
  position: absolute;
  bottom: 0;
  right: 330px;
  padding: 12px;
}

div.poster2 > div:nth-of-type(2) > h2 {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
div.poster2 > div:nth-of-type(2) > h4 {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
}
/* end poster2 */

/* start text2 */
div.text2 {
  width: 100%;
  padding: 48px;
  margin-top: 16px;
  border-top: 1px solid #bababa;
}

div.text2 > div > h2 {
  font-size: 22px;
  color: #ff0000;
  line-height: 60px;
}

div.text2 > div > p {
  text-align: justify;
  font-size: 16px;
  color: #888b8a;
  line-height: 2.2em;
  padding-bottom: 48px;
}

div.text2 > div {
  width: 62%;
  margin: 0 auto;
}

div.text2 > div > a {
  color: #888b8a;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
  margin: 0 4px;
}

div.text2 > div > a:hover {
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
/* end text2 */

/* start poster2 */
div.poster3 {
  width: 100%;
  padding-top: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.poster3 > div:nth-of-type(1) {
  width: 100%;
  height: 16px;
  background-color: #e9d69f;
  margin: 0;
}

div.poster3 > div:nth-of-type(2) {
  width: 350px;
  background-color: #ed1c24;
  position: absolute;
  bottom: 0;
  right: 330px;
  padding: 12px;
}

div.poster3 > div:nth-of-type(2) > h2 {
  color: white;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
div.poster3 > div:nth-of-type(2) > h4 {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
}
/* end poster2 */

/* start paralax */
div.paralax {
  width: 100%;
  height: 250px;
  background: url(/media/baner/recipe-baner-1.png) center center;
  background-size: cover;
  background-attachment: fixed;
}
/* end paralax */

/* start chips */
div.chips {
  width: 100%;
  height: 80px;
}

div.chips > p > span {
  color: #ff0000;
  font-size: 20px;
  font-weight: 500;
}

div.chips > p {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  color: #888b8a;
  line-height: 80px;
}
/* end chips */

/* start food */
div.food {
  width: 100%;
  height: fit-content;
  padding: 0px;
  background-color: #cde4b0;
}

div.food > div {
  width: 1000px;
  padding: 60px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

div.food > div > div {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 8px;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.199);
}

div.food > div > div > img {
  width: 100%;
  object-fit: cover;
}

div.food > div > div > div {
  width: 100%;
  padding: 16px 24px;
}

div.food > div > div > div > h3 {
  color: #ff0000;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
}

div.food > div > div > div > p {
  color: #888b8a;
  font-size: 14px;
  line-height: 1.7em;
  word-spacing: 0.15em;
  margin-bottom: 16px;
  text-align: justify;
}

div.food > div > div > div > a {
  color: #888b8a;
  display: inline-block;
  border: 1px solid #afb2a7;
  text-decoration: none;
  color: #888b8a;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.7em;
}

div.food > div > div > div > a:hover {
  background-color: #ff0000;
  color: white;
  border: #ff0000 1px solid;
}
/* end food */

/* start video */
div.video {
  width: 100%;
  height: fit-content;
  padding: 0px;
}

div.video > div {
  width: 1000px;
  padding: 60px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

div.video > div > div {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 8px;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.199);
}

div.video > div > div > img {
  width: 100%;
  object-fit: cover;
}

div.video > div > div > div {
  width: 100%;
  padding: 16px 24px;
}

div.video > div > div > div > h3 {
  color: #ff0000;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
}

div.video > div > div > div > p {
  color: #888b8a;
  font-size: 14px;
  line-height: 1.7em;
  word-spacing: 0.15em;
  margin-bottom: 16px;
  text-align: justify;
}

div.video > div > div > div > a {
  color: #888b8a;
  display: inline-block;
  border: 1px solid #afb2a7;
  text-decoration: none;
  color: #888b8a;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.7em;
}

div.video > div > div > div > a:hover {
  background-color: #ff0000;
  color: white;
  border: #ff0000 1px solid;
}
/* end video */

/* start gholestan */
div.gholestan {
  width: 100%;
  height: 600px;
  background-color: #105153;
  position: relative;
}

div.gholestan > div {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

div.gholestan > div > p:nth-of-type(1) {
  line-height: 40px;
  font-size: 18px;
  color: #cfe5dd;
  width: 100%;
  border-bottom: 1px solid #07787c;
  margin: 0 auto;
  padding-top: 180px;
}

div.gholestan > div > h4 {
  color: #0acddf;
  font-weight: 200;
  font-size: 24px;
  line-height: 64px;
}

div.gholestan > div > img {
  z-index: 998;
  position: absolute;
  right: calc(50% - 395px / 2);
  bottom: -80px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.338);
}

div.gholestan > div > h4 > span {
  color: #009da2;
  font-weight: 400;
  font-size: 36px;
}

div.gholestan > div > p:nth-of-type(2) {
  color: #bcbec0;
  font-weight: 200;
  font-size: 18px;
  line-height: 40px;
}

div.gholestan > div > div {
  width: 100%;
  height: 16px;
  background-color: #e9d69f;
  position: absolute;
  bottom: 0;
}
/* end gholestan */

/* start text3 */
div.text3 {
  width: 100%;
  padding: 48px;
  padding-top: 100px;
  margin-top: 16px;
  border-top: 1px solid #bababa;
}

div.text3 > div > h2 {
  font-size: 22px;
  color: #ff0000;
  line-height: 60px;
}

div.text3 > div > p {
  text-align: justify;
  font-size: 16px;
  color: #888b8a;
  line-height: 2.2em;
  padding-bottom: 48px;
}

div.text3 > div {
  width: 62%;
  margin: 0 auto;
}

div.text3 > div > a {
  color: #888b8a;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
  margin: 0 4px;
}

div.text3 > div > a:hover {
  color: white;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
/* end text3 */

/* start social */
div.social {
  width: 100%;
  height: 125px;
  background-color: #eeefef;
}

div.social > div:nth-child(1) {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 24px;
}

div.social > div:nth-child(1) > div {
  width: 100%;
  height: 100px;
}

div.social > div:nth-child(2) {
  width: 100%;
  height: 25px;
  background-color: #ed1c24;
}
/* end social */

/* start footer */
div.footer {
  width: 100%;
  background-color: #232323;
  padding: 60px 0px;
}

div.footer > div {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.footer > div > div > p {
  color: #d6d6d6;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin: 8px 0px 24px 0px;
  border-top: 1px solid #717273;
  border-bottom: 1px solid #717273;
}

div.footer > div > div > a {
  display: block;
  color: #b8bbbe;
  text-decoration: none;
  transition: all 100ms linear;
  font-size: 14px;
}

div.footer > div > div > a:hover {
  color: white;
}

div.footer > p:nth-of-type(1) {
  color: #7c7a7c;
  font-size: 22px;
  text-align: center;
  margin-top: 80px;
}

div.footer > p:nth-of-type(2) {
  color: #575757;
  font-size: 16px;
  text-align: center;
}
/* end footer */
